/* ******************** FORMATAÇÕES GERAIS *****************************/
:root {
  --main-color: #d3ad7f;
  --black: #131331;
  --bg: #010103;
  --border: 0.1rem solid rgba(255, 255, 255, 0.2);
}

* {
  font-family: 'Edu SA Beginner', cursive;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  border: none;
  text-decoration: none;
  text-transform: capitalize;
  transition: 0.2s linear;
}

html {
  /* font-size: 62.5%; */
  overflow-x: hidden;
  scroll-padding-top: 9rem;
  scroll-behavior: smooth;
}

html::-webkit-scrollbar {
  width: 0.8rem;
}

html::-webkit-scrollbar-thumb {
  background: #fff;
  border-radius: 5rem;
}

html::-webkit-scrollbar-track {
  background: transparent;
}

body {
  background: var(--bg);
}

section {
  padding: 2rem 7%;
  position: relative;
}

.btn {
  margin-top: 1rem;
  display: inline-block;
  padding: 0.7rem 3rem;
  font-size: 1.7rem;
  color: #fff;
  background: var(--main-color);
  cursor: pointer;
}

.btn:hover {
  letter-spacing: 0.2rem;
}

.heading {
  text-align: center;
  color: #fff;
  text-transform: uppercase;
  padding-bottom: 3.5rem;
  font-size: 2rem;
  position: relative;
  z-index: 9999;
  margin-top: 150px;
}

.heading span {
  color: var(--main-color);
  text-transform: uppercase;
}

.header {
  background-color: var(--bg);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1.5rem 7%;
  border-bottom: var(--border);
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
}

.header .logo img {
  height: 6rem;
}

.header .navbar a {
  margin: 0 5rem;
  font-size: 1.6rem;
  color: #fff;
}

.header .navbar a:hover {
  color: var(--main-color);
  border-bottom: 0.1rem solid var(--main-color);
  padding-bottom: 0.5rem;
}

.header .icons div {
  color: #fff;
  cursor: pointer;
  font-size: 2.5rem;
  margin-left: 2rem;
}

.header .icons div:hover {
  color: var(--main-color);
}

#menu-btn {
  display: none;
}

/********************** FORMATAÇÕES DA HOME ***************************/
.home {
  min-height: 100vh;
  display: flex;
  align-items: center;
  background: url(../img/home-img.jpeg) no-repeat;
  background-size: cover;
  background-position: center;
}

.home .content {
  max-width: 60rem;
}

.home .content h3 {
  font-size: 6rem;
  color: #fff;
  /* text-transform: uppercase; */
}

.home .content p {
  font-size: 2rem;
  font-weight: lighter;
  line-height: 1.8;
  padding: 1rem 0;
  color: #eee;
  text-transform: none;
}

.menu .box-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
  gap: 1.5rem;
}

.menu .box-container .box {
  border: var(--border);
  padding: 5rem;
  text-align: center;
}

.menu .box-container .box img {
  height: 15rem;
}

.menu .box-container .box h3 {
  color: #fff;
  font-size: 2rem;
  padding: 1.5rem 0;
}

.menu .box-container .box .price {
  color: #fff;
  font-size: 2rem;
  padding: 0.5rem 0;
}

.menu .box-container .box .price span {
  font-size: 1.5rem;
  text-decoration: line-through;
}

.menu .box-container .box:hover {
  background-color: #fff;
}

.menu .box-container .box:hover > * {
  color: var(--black);
}

.products .box-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
  gap: 1.5rem;
}

.products .box-container .box {
  text-align: center;
  border: var(--border);
  padding: 2rem;
  background-color: var(--black);
}

.products .box-container .box:hover {
  background-color: #fff;
}

.products .box-container .box .icons a {
  height: 5rem;
  width: 5rem;
  line-height: 5rem;
  font-size: 2rem;
  border: var(--border);
  color: #fff;
  margin: 0.3rem;
}

.products .box-container .box .image {
  padding: 2.5rem 0;
}

.products .box-container .box .image img {
  height: 25rem;
}

.products .box-container .box .content h3 {
  color: white;
}

.products .box-container .box .content .starts {
  padding: 1.5rem;
}

.products .box-container .box .content .starts i {
  font-size: 1.7rem;
  color: var(--main-color);
}

footer {
  width: 100%;
  /* height: 100%; */
  background-color: var(--bg);
  padding: 1rem;
}

footer {
  color: #fff;
  font-size: 1.5rem;
  text-align: center;
  right: 0;
}

footer .endereço i {
  font-size: 1.5em;
}

/*********************************************************************************************************/
/* media queries */
@media (max-width: 991px) {
  html {
    font-size: 55%;
  }

  .header {
    padding: 1.5rem 2rem;
  }

  section {
    padding: 2rem;
  }
}

@media (max-width: 768px) {
  #menu-btn {
    /*é o botão hamburguer*/
    display: inline-block;
  }

  .header .navbar {
    position: absolute;
    top: 100%;
    right: -100%;
    background: #fff;
    text-align: center;
    width: 10rem;

    height: calc(100vh - 9.5rem);
  }

  .header .navbar.active {
    right: 0;
  }

  .header .navbar a {
    color: var(--black);
    display: block;
    margin: 1.5rem;
    padding: 0.5rem;
    font-size: 2rem;
  }

  .header .search-form {
    width: 90%;
    right: 2rem;
  }

  .home {
    background-position: left;
    justify-content: center;
    text-align: center;
  }

  .home .content h3 {
    font-size: 4.5rem;
  }

  .home .content p {
    font-size: 1.5rem;
  }}

  @media (max-width: 450px) {
    html {
      font-size: 50%;
    }

  }
}
